<div class="footers">
    <footer class="footer">
            <h2 style="color: white;">Products</h2>
            <br>
        <div class="footer_products">

            <div class="container row">
                <div class="products_block col">
                    <div class="device">
                        <div class="text_device">
                            <h4><a href="{% url 'iphone' %}">iPhone</a></h4>
                            <br>
                            <ul style="line-height: 1.5; margin: 0; padding: 0; list-style: none;">
                                <li><a href="#">iPhone 13/13 Pro</a></li>
                                
                                <li><a href="#">iPhone 12/12 Pro</a></li>
                                <li><a href="#">iPhone 11/11 Pro</a></li>
                                <li><a href="#/">iPhone X, Xr, Xs</a></li>
                                <li><a href="#">iPhone SE</a></li>
                                <li><a href="#">iPhone 8/8 Plus</a></li>
                                <li><a href="#">iPhone 7/7 Plus</a></li>
                                <li><a href="#">iPhone 6s/6s Plus</a></li>
                                <br>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="products_block col">
                    <div class="device">
                        <div class="text_device">
                            <h4><a href="#">iPads</a></h4>
                            <br>
                            <ul style="line-height: 1.5; margin: 0; padding: 0; list-style: none;">
                                <li><a href="#">iPad Pro</a></li>
                                <li><a href="#">iPad Air</a></li>
                                <li><a href="#">iPad</a></li>
                                <li><a href="#/">iPad Mini</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="products_block col">
                    <div class="device">
                        <div class="text_device">
                            <h4><a href="#">iMac/MacBook</a></h4>
                            <br>
                            <ul style="line-height: 1.5; margin: 0; padding: 0; list-style: none;">
                                <li><a href="#">Mac Pro</a></li>
                                
                                <li><a href="#">iMac 27”</a></li>
                                <li><a href="#">iMac 24”</a></li>
                                <li><a href="#/">Mac mini</a></li>
                                <li><a href="#">MacBook Pro 16”</a></li>
                                <li><a href="#">MacBook Pro 13”</a></li>
                                <li><a href="#">MacBook Air</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="products_block col">
                    <div class="device">
                        <div class="text_device">
                            <h4><a href="#">Others gadgets</a></h4>
                            <br>
                            <ul style="line-height: 1.5; margin: 0; padding: 0; list-style: none;">
                                <li><a href="#">Apple Watch Series 6</a></li>
                                <li><a href="#">Apple Watch SE</a></li>
                                <li><a href="#">Apple Watch Series 3</a></li>
                                <li><a href="#/">Apple TV </a></li>
                                <li><a href="#">AirPods Pro</a></li>
                                <li><a href="#">AirPods 2</a></li>
                                <br>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="products_block col">
                    <div class="device">
                        <div class="text_device">
                            <h4><a href="#">Accessories</a></h4>
                            <br>
                            <ul style="line-height: 1.5; margin: 0; padding: 0; list-style: none; text-decoration: none;">
                                <li><a href="#">Leather/Silicone Case</a></li>
                                <li><a href="#">Safety glass</a></li>
                                <li><a href="#">AirTag</a></li>
                                <li><a href="#/">Apple Pencil</a></li>
                                <li><a href="#">Keyboard for iPad</a></li>
                                <li><a href="#">Apple Watch</a></li>
                                <li><a href="#">Carging Device</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="products_block col">
                    <div class="device">
                        <div class="text_device">
                            <h4><a href="#">Services</a></h4>
                            <br>
                            <ul style="line-height: 1.5; margin: 0; padding: 0; list-style: none; text-decoration: none;">
                                <li><a href="#">Repair</a></li>
                                <li><a href="#">Trade IN</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_info">20** - 2021 yer</div>


    </footer>
</div>