<table class="table "style="width:99%">
    <tbody style="margin-left: 1em;">
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Color</td>
        <td></td>
      </tr>
      <tr>
        <td>Color:</td>
        <td>{{ product.color|safe|escape }}</td>
      </tr>
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Display</td>
        <td></td>
      </tr>
      <tr>
        <td style="margin-left: 1em; width:50%">Display:</td>
        <td style="margin-left: 1em; width:40%">{{ product.display|safe|escape }}</td>
      </tr>
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Сhip</td>
        <td></td>
      </tr>
      <tr>
        <td>Сhip:</td>
        <td>{{ product.chip|safe|escape }}</td>
      </tr>

      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Camera</td>
        <td></td>
      </tr>
      <tr>
        <td>Camera:</td>
        <td>{{ product.camera|safe|escape }}</td>
      </tr>

      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Cellular and Wireless</td>
        <td></td>
      </tr>
      <tr>
        <td>Cellular and Wireless:</td>
        <td>{{ product.wireless|safe|escape }}</td>
      </tr>

      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >SIM Card</td>
        <td></td>
      </tr>
      <tr>
        <td>SIM Card:</td>
        <td>{{ product.sim_card|safe|escape }}</td>
      </tr>

      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Sensors</td>
        <td></td>
      </tr>
      <tr>
        <td>Sensors</td>
        <td>{{ product.sensors|safe|escape }}</td>
      </tr>

      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Touch ID</td>
        <td></td>
      </tr>
      <tr>
        <td>Touch ID</td>
        <td>{{ product.toch_id|safe|escape }}</td>
      </tr>

      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Support Apple Pencil</td>
        <td></td>
      </tr>
      <tr>
        <td>Support Apple Pencil</td>
        <td>{{ product.penc|safe|escape }}</td>
      </tr>

      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Battery and Power</td>
        <td></td>
      </tr>
      <tr>
        <td>Battery and Power</td>
        <td>{{ product.battery_and_power|safe|escape }}</td>
      </tr>

      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Size and Weight</td>
        <td></td>
      </tr>
      <tr>
        <td>Size and Weight</td>
        <td>{{ product.weight|safe|escape }}</td>
      </tr>
    </tbody>
  </table>
 

