<table class="table"style="width:99%">
    <tbody style="margin-left: 1em;">
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Color:</td>
        <td></td>
      </tr>
      <tr>
        <td style="margin-left: 1em; width:50%">Color</td>
        <td style="margin-left: 1em; width:40%">{{ product.color|safe|escape }}</td>
      </tr>
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Display:</td>
        <td></td>
      </tr>
        <tr>
        <td>Display</td>
        <td>{{ product.display|safe|escape }}</td>
      </tr>
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Chip:</td>
        <td></td>
      </tr>
        <tr>
        <td>Chip</td>
        <td>{{ product.chip|safe|escape }}</td>
      </tr>
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Charg­ing and Expan­sion:</td>
        <td></td>
      </tr>
        <tr>
        <td>Charg­ing and Expan­sion</td>
        <td>{{ product.charging|safe|escape }}</td>
      </tr>
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Memory:</td>
        <td></td>
      </tr>
        <tr>
        <td>Memory</td>
        <td>{{ product.memory|safe|escape }}</td>
      </tr>
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Storage:</td>
        <td></td>
      </tr>
        <tr>
        <td>Storage</td>
        <td>{{ product.storage|safe|escape }}</td>
      </tr>
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Key­board and Track­pad:</td>
        <td></td>
      </tr>
        <tr>
        <td>Key­board and Track­pad</td>
        <td>{{ product.keyboard_and_trackpad|safe|escape }}</td>
      </tr>
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Touch ID:</td>
        <td></td>
      </tr>
        <tr>
        <td>Touch ID</td>
        <td>{{ product.toch_id|safe|escape }}</td>
      </tr>
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Wireless:</td>
        <td></td>
      </tr>
        <tr>
        <td>Wireless</td>
        <td>{{ product.wireless|safe|escape }}</td>
      </tr>
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Camera:</td>
        <td></td>
      </tr>
        <tr>
        <td>Camera</td>
        <td>{{ product.camera|safe|escape }}</td>
      </tr>
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Video Support:</td>
        <td></td>
      </tr>
        <tr>
        <td>Video Support</td>
        <td>{{ product.video_support|safe|escape }}</td>
      </tr>
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Audio:</td>
        <td></td>
      </tr>
        <tr>
        <td>Audio</td>
        <td>{{ product.audio|safe|escape }}</td>
      </tr>
      <tr class="table-dark" style="margin-left: 1em; width:100%">
        <td >Size and Weight:</td>
        <td></td>
      </tr>
        <tr>
        <td>Size and Weight</td>
        <td>{{ product.size_and_weight|safe|escape }}</td>
      </tr>
    </tbody>
  </table>
