{% extends 'base.html'%}
{% load static %}
{% block title %} 
MacBook
{% endblock %}
{% block content %}
<div class="header">
    <header>
        <div class="header_content">
            <ul>
                <li>
                    <a href="#">
                        MacBook Air
                    </a>
                </li>
                <li>
                    <a href="#">
                        MacBook Pro
                    </a>
                </li>
                <li>
                    <a href="#">
                        iMac
                    </a>
                </li>
                <li>
                    <a href="#">
                        Mac Pro
                    </a>
                </li>
                <li>
                    <a href="#">
                        Mac mini
                    </a>
                </li>
            </ul>
        </div>
    </header>
</div>

<div class="container">
    <div class="row">
        {% for product in products %}
           <div class="col-9 mx-auto col-md-6 col-lg-3">
               <div class="mb-5" style="box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);">
                   <div class="p-3">
                       <a href="{{product.get_url}}"> 
                           <img class="card-img-top" src="{{product.image.url}}" alt= "{{ product.name }}">
                        </a>
                       
                   </div>
               
                   <div class="card-footer d-flex justify-content-between" style="background: transparent; border-color: transparent;">
                       <p class="font-weight-bold md-0" style="font-size: 20px;">
                        {{ product.name }} 
                       </p>
                       <h4 class=" font-italic mb-0">
                           {{ product.price }}$

                        </h4>

                    </div>

                </div>

            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}