<nav class="navigation">
    <div class="logo">
        <a href="{% url 'home' %}"><h4>Name Shop</h4</a>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">Instagram</a>
        </li>
        <li>
            <a href="#">Telegram</a>
        </li>
    </ul>
    <!-- <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>
    
        <ul class="menu__box">
                <li><a class="menu__item" href="#">Home Page</a></li>
                <li><a class="menu__item" href="#">iMac</a></li>
                <li><a class="menu__item" href="#">MacBook</a></li>
                <li><a class="menu__item" href="#">iPad</a></li>
                <li><a class="menu__item" href="#">iPhone New</a></li>
                <li><a class="menu__item" href="#">iWotch</a></li>
                <li><a class="menu__item" href="#">Apple TV</a></li>
                <li><a class="menu__item" href="#">iPhone Used</a></li>
        </ul>
      </div> -->

  </nav>